* {
	font-family: monospace;
	font-size: 105%
}

body {
	background-color: #000;
	color: #fff;
	width: 60%;
	margin: 0 auto;
	padding: 0
}

/* Navigation */
ul#navbar {
	margin: 0;
	text-align: left;
	border-bottom: 1px solid;
}

ul#navbar li {
	display: inline-block;
	padding: 1em
}

/* Link style */
a {
	color: #ab0;
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: underline
}

/* Headings */
h1 {
	font-size: 180%;
	text-decoration: underline
}

/* Blog feed */
div#post {
	margin-bottom: 2em;
}

div#post_title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 1em
}

div#post_timestamp {
	margin-bottom: 0.5em
}

/* Code tags */
code {
	background: #444
}

pre {
	background: #444;
	padding: 0.5em
}
