* {
	font-family: monospace;
	font-size: 105%
}

body {
	background: #fafafa;
	color: #2b2b2b;
	width: 90%;
	margin: 0 auto;
	padding: 0
}

@media only screen {
	body {
		width: 50%;
	}
}

@media only screen and (max-width: 1500px) {
	body {
		width: 55%
	}
}

@media only screen and (max-width: 1200px) {
	body {
		width: 65%
	}
}

@media only screen and (max-width: 1000px) {
	body {
		width: 80%
	}
}

/* Navigation */
ul#navbar {
	margin: 0;
	text-align: left;
	border-bottom: 1px solid;
}

ul#navbar li {
	display: inline-block;
	padding: 1em
}

/* Link style */
a {
	color: #0000EE;
	text-decoration: none;
	cursor: pointer
}

a:hover {
	text-decoration: underline
}

/* Headings */
h1 {
	font-size: 150%;
	text-decoration: underline
}

/* Blog feed */
div#post {
	margin-bottom: 2em;
}

div#post_title {
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 1em
}

div#post_timestamp {
	margin-bottom: 0.5em
}

/* Code tags */
code {
	background: #e0e0e0;
	font-size: 80%;
	padding: 2px;
}

pre {
	background: #e0e0e0;
	white-space:pre-wrap;
	padding: 0.5em
}
