<!-- {GEN_COPYRIGHT} -->
<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />

	<title>{GEN_TITLE}</title>
	<meta name="description" content="{GEN_DESCRIPTION}">
	<meta name="keywords" content="{GEN_KEYWORDS}">
	<meta name="author" content="{GEN_AUTHOR}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#000000"/>

	<link rel="stylesheet" type="text/css" href="res/style.css" />
	<script type="text/javascript" src="res/email.js"></script>
</head>
<body>
	<ul id="navbar">
		{GEN_NAVBAR}
	</ul>
	<div id="content">
		{GEN_CONTENT}
	</div>
</body>
</html>
